/*Header Section*/

header {
    background-color: #072044;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Main Content Section*/

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*Paragraph Section*/

p {
    font-family: Franklin Gothic Medium;
    font-size: 20px;
    text-align: center;
    color: rgb(7, 6, 6);
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 26px;
    color: rgb(37, 34, 34);
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Reviews Section*/

.ClientReviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.Review {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    background-color: #072044;
    height: 450px;
}

.Review-Container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 10px;
}

.Review .text p {
    font-family: Tahoma;
    font-size: 18px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-position: center;
    text-align: center;
}

/*Images Section*/
.images {
    width: 30%;
    display: flex;
    justify-content: center;
}

.images img {
    max-width: 200%;
    height: auto;
    padding-top: 40px;
}

/*Footer Section*/
footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #092044;
    padding: 0;
}

.footer-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    color: #ffffff;
}

/* Recent Websites Section */
.Recent.Websites {
    text-align: center;
}

.Recent.Websites h2 {
    margin-bottom: 10px;
}

.WebsitesLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WebsitesLink {
    text-align: center;
}

.WebsiteLink {
    flex: 1;
    text-align: center;
}

.WebsiteLink a {
    font-size: 18px;
}

/* Icon Section */
.icon-row {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.icon-item {
    width: 30%;
    text-align: center;
}

.icon img {
max-width: 100%;
height: auto;
}

.style-quote {
    margin: 20px;
    padding: 20px
}


/* Contact Link */
.icon a {
    font-size: 22;
    margin: 10px 20px;
    text-align: center;
}
/* Responsive Design */
@media screen and (max-width: 770px) {
    p {
        font-size: 18px;
        margin: 5px 10px;
}
}  
    